<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.lessontracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.TeachableActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".activities.TakeLessonActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activities.TeachableActivity"/>

        <activity android:name=".activities.LessonHistoryActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activities.TeachableActivity"/>

    </application>

</manifest>
